.center {
  text-align: center;
}

.action-button {
  border-radius: 4px;
  cursor: pointer;
  display: inline;
  padding: 5px;
}

.blue-bg {
  background: #35cef1;
}

.green-bg {
  background: #02d6a9;
}

.yellow-bg {
  background: #efedb1;
}